body {
  background: #000800;
  line-height: 2em;
  font-weight: 300;
  color: #00cc00;
}
.bg {
  background-image: url(/static/img/bg.jpg);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    background-size: cover;
    opacity: 0.08;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-bottom: 1px solid #004000;
}
span.time, span.categories {
  color: #009900;
  margin-bottom: 5px;
  font-size: 11px;
}
h1, h2, h3 {
  color: #00AF00;
  font-weight: normal;
  text-shadow: 1px 1px 1px #003300;
}
h1 {
  margin-bottom: 10px;
  font-size: 25px;
  text-shadow: 0 0 5px #00aa00;
  color: #00ff00
}
h2, h3 {
  margin-bottom: 5px;
}
a, a:link, a:active, a:focus {
  text-decoration: none;
  color: #00ff00;
  text-shadow: 0 0 20px #00ff00;
  font-size: 15px;
}
a:hover {
  color: #00ff00;
  text-decoration: underline;
}

/* Layout */
.main-layout {
  text-shadow: 0 0 2px #005500;
}
.sidebar-nav {
  margin: 0;
  padding: 0;
}
.sidebar-nav li {
  margin: 0;
  list-style: none;
}
.sidebar-nav li::before {
  content: "»";
  margin-right: .5em;
}

/* Content */
div.content pre {
  background: #002000;
  padding: 10px;
  color: #FFF;
  overflow-x: auto;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
  border: none;
}
div.content .highlight, div.highlight div.content pre {
  background: #002000;
}
footer {
  border-top: 1px solid #003300;
  width: 100%;
  height: 10px;
  margin-top: 10px;
  margin-bottom: 3em;
  padding-top: 10px;
  font-size: 11px;
  bottom: 0;
  padding-bottom: 10px;
}

/* Left column */
div.col-sm-3 {
  margin-top: 10px;
  font-size: 11px;
  color: #111;
}
div.col-sm-3 strong {
  font-size: 16px;
  color: #00dd00;
  font-weight: normal;
}
div.col-sm-3 div.profile-about {
  margin-top: 10px;
  color: #00cc00;
}
div.col-sm-3 img.profile-avatar {
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  margin-left: auto;
  margin-right: auto;
}

/* Pagination */
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}
.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}
.PageNavigation .next {
  text-align: right;
}
.PageNavigation .prev {
  text-align: left;
}

/* Social Icons */
.social{
  display: block;
  margin: 10px 0;
}
.social ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social ul li {
  display: inline-block;
  margin: 0 5px;
}
.social li a {
  font-size: 16px;
  color: #969394;
}
.social li a:hover {
  color: #6D6D6D;
}

.share-page {
  padding: 10px 10px 5px;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
.post-content img,
.content img {
  max-width: 100%
}

/* Responsive Conditional */
@media (min-width: 1024px) {
  .fixed-condition {
    position: fixed;
    top: 15px;
    max-width: 255px;
  }
}
@media (max-width: 768px) {
  div.col-sm-3 {
    margin-top: 30px;
  }
}

.search__results {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.form-control {
  border: 1px solid #00aa00;
  background-color: #001100;
}

.form-control::-webkit-input-placeholder{
  color:#006600;
}

.fa:before {
  color: #00dd00;
}

h3, .h3 {
  font-size: 22px;
}



/*pagination*/
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: #007700;
  background-color: #002200;
  border-color: #002200;
}

.pagination>li>a, .pagination>li>span {
  color: #00ff00;
  background-color: #004400;
  border: 1px solid #004400;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  color: #00f000;
  background-color: #005500;
  border-color: #005500;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  color: #fff;
  background-color: #008800;
  border-color: #008800;
}

/*form-control*/
.form-control:focus {
  border-color: #00ff00;
}

/*search__results*/
.search__results > li {
  border-top: 1px solid #002200;
}

.search__results > li > a {
  padding: 5px 10px;
}

.search__result-date {
  display:none;
}

/*post*/
code {
  background: #002000;
  color: #00ff00;
}
